.nav > li > a:hover, .nav > li > a:focus{background: #FFF;}
.nav > li  a{color: #111;font-weight: bold;}



.nav > li a:hover{color: #e22929;}
.nav li a.active {color: #e22929;position: relative;}
.nav li a.active:after {content:'';width:100%;position:absolute;left:0;bottom:0;height:2px;background-color: #e22929;}
.navbar-toggle {background: rgb(235, 146, 146);}
.navbar {border:none}
.btn {border-radius:1px; }

.btn-primary1 {
    color: #fff;
    
    background-color: #e22929;
    border-color: #f10101;
}
.navbar-toggle span{backgrousnd: #000;}
.service_item .service-item-content a,.service_item .service-item-content p{color:#fff}
.new-list > a:nth-child(2){color:#000;}
.new-list > p:nth-child(3){color:#333;}
.date-new {fborder-top: 1px solid #dfdfdf;color:#444;}
.slider,.advantages-block,.page-caption {background: #efefef;}
.top-header{background: #efefef;}
.footer {background: #f10101; color: #fff;}
.question-main{background: url('../../img/main_banner.jpg') no-repeat center;background-size:100% auto;position: relative;}
.question-main a,.question-main p,.question-main strong {position: relative;z-index: 2;}
.question-main p,.question-main strong {color:#fff}
/*.question-main a {background: #fff;text-align: center;transition:.2s;color:#1d72c8;border-radius:3px}
.question-main a:hover {background: #999;}*/
.question-main:before{content:'';position: absolute;width:100%;height: 100%;background:rgba(0,0,0,.6);z-index:1;left:0;top:0}
.btn-primary {    background-image:none;border-color:transparent}
.advantage i {background: #3174ac;width: 80px;line-height: 80px;text-align: center;float:left;left:50%;position: relative;margin-left:-40px;border-radius:50%;font-size: 30px;color:#fff}
@media(max-width:992px)
{
.question-main{background-size:auto 100%;}

	
}
.advantage i {
    background: #d9534f;
    
}